* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin-top: 7vh;
    /* il body inizia sotto la barra arancione */
}

.container {
    max-width: 70%;
    min-width: 30%;
    margin: 0 auto;
}

/* HEADER  */

.orange-bar {
    width: 100%;
    height: 4vh;
    background-color: rgb(255, 104, 8);
    position: fixed;
    top: 0;
}

.nav-bar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar ul {
    list-style: none;
}

.categories {
    display: flex;
    flex-direction: row;
    gap:20px; 
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    gap: 3em;
}

header img {
    width: 100px;
}

nav li:hover {
    background-color: bisque;
    color:aqua;
}

.ico {
    width: 16px;
    color: white;
    display: flex;
    flex-direction: row;
    padding: 0 1em;
}

/* MAIN E SCHEDE */

.cards-container {
    max-width: 70%;
    min-width: 30%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 33%;
}

main img {
    max-width: 100%;
    min-width: 30%;
    z-index: 1;
}

.card .img-area {
    position:relative;
}

.heart {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: white;
    padding: 0.8rem;
}

.heart:hover {
    color: red;
}

.discount {
    position: absolute;
    color: white;
    background-color: red;
    bottom: 100px;
    left: 0;
    padding: 0.5rem;
    font-weight: 500;
}

.green-tag {
    position: absolute;
    color: white;
    background-color: green;
    padding: 0.5rem;
    font-weight: 500;
    bottom: 100px;
    left: 60px;
}

.price-red {
    color: red;
    font-weight: 700;
}

.price-line-through {
    text-decoration: line-through;
    font-weight: 500;
}

/* COMPORTAMENTO HOVER */

.item-hover {
    display: none;
}

/* FOOTER */

.background-footer {
    width: 100vw;
    height: 7vh;
    background-color: rgb(25, 25, 25);
}

.footer-container {
    max-width: 70%;
    min-width: 30%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

footer {
    position: fixed;
    bottom: 0;
}

.footer-container h4 {
    color: white;
    text-align: left;
}

footer h4 {
    color: white;
}

footer a {
    font-size: 10px;
}

footer i {
    font-size: 25px;
    padding: 0.5em;
}