* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin-top: 7vh;
    /* il body inizia sotto la barra arancione */
}

/* HEADER  */

.orange-bar {
    width: 100%;
    height: 4vh;
    background-color: rgb(255, 104, 8);
    position: fixed;
    top: 0;
    z-index: 99;
}

.nav-bar {
    margin: 0 auto;
    width: 1000px;
    min-width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar ul {
    list-style: none;
}

.categories {
    display: flex;
    flex-direction: row;
    gap:20px; 
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    gap: 3em;
}

header img {
    width: 100px;
}

nav li:hover {
    background-color: bisque;
    color:aqua;
}

.ico {
    width: 16px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

/* MAIN E SCHEDE */

main {
    margin: 0 auto 7vh;
}

.main-container {
    margin: 0 auto;
    padding-bottom: 2em;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 2em;
    column-gap: 1rem;
}

.card{
    width: 33%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    flex: 0 0 calc((100% - 2em) / 3);
}

.card img {
    max-width: 100%;
    min-width: 30%;
    z-index: 1;
}

.img-area {
    position:relative;
    max-width: 100%;
}

.above {
    position: absolute;
    top: 0;
    right: 0;
}

.card .heart {
    position: absolute;
    top: 5px;
    right: 0;
    background-color: white;
    padding: 0.8rem;
    z-index: 10;
}

.discount {
    color: white;
    background-color: red;
    padding: 0.5rem;
    font-weight: 500;
    z-index: 10;
}

.green-tag {
    color: white;
    background-color: green;
    padding: 0.5rem;
    font-weight: 500;
    z-index: 10;
}

.price-red {
    color: red;
    font-weight: 700;
}

.price-line-through {
    text-decoration: line-through;
    font-weight: 500;
}

.img-area .tag {
    position: absolute;
    left: 0;
    bottom: 50px;
    display: flex;
    gap: .5rem;
}

/* COMPORTAMENTO HOVER */


.card:hover .above {
    /* opacity: 0; */
    /* oppure con lo z-index in negativo*/
    z-index: -1;
}

.heart:hover {
    color: red;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    z-index: 99999;
    width: 100vw;
    height: 7vh;
    background-color: rgb(25, 25, 25);
    color: white;
}

.footer-container {
    margin: 0 auto;
    width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.col-sx{
    display: flex;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

footer a {
    font-size: 0.8rem;
}

footer i {
    font-size: 25px;
}

.col-dx {
    display: flex;
}

.col-dx ul {
    display: flex;
    justify-content: flex-start;
}

.col-dx li{
    display: flex;
    gap: .8em;
}